{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="widthdevice-width">
    <meta name="description" content="Lingwood Language School Portal for teachers and Students">
    <meta name="author" content="Friendy Corporation & Mekicha">
    <meta name="Keywords" content="Lingwood Language School Portal, School Management Software">
      <link rel="stylesheet" href="{% static 'login/login.css' %}">
    <title>Login Page</title>
  </head>
  <body>
        <div class="container">
      <div class="left">
        <img src="{% static 'img/LINGWOOD.png' %}" alt="">
        <p><h1>SCHOOL PORTAL</h1></p>
      </div>
      <div class="right">
        <div class="loginBox">
          <h2>Log In</h2>
          <form>
            <p>User ID</p>
            <input type="text" name="user_id" placeholder="Type your User ID here" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter your password" required><br>
            <input type="submit" name="Sign-In" value="Sign In"> <br>
            <a href="#">Forgot your password?</a>
          </form>

        </div>
      </div>

    </div>
    <!-- Copyright footer -->
    <div class="footer">
      Copyright &copy; 2019 <b><a href="www.ling-wood.ru" class="text-black">Lingwood Language School</a></b><br>
      All rights reserved
    </div>
  </body>
</html>
